<div class="jumbotron">
	<h1>Sparkling Fans <br><small>The Ultimate soccer fan app.</small></h1>
	<p>Support your team like never before !</p>
	<ul>
		<li>Sparkle your phone in a stadium along with thousands of fans.</li>
		<li>Synchronise light effects with people around you for amazing effects.</li>
	</ul>
	<div class="row">
		<form class="col-sm-6 col-sm-offset-3" name="lpForm" ng-submit="saveEmail(lpForm)">
			<p>
				<input type="email" class="form-control" name="email" ng-model="email" placeholder="Your email">
			</p>
			<p>
				<button class="btn btn-lg btn-primary btn-block" type="submit">Keep me informed !</button>
			</p>
		<form>
	</div>
</div>